<li>"{{#link-to 'question' question.id}}{{question.question}}" -{{question.author}}{{/link-to}}
  {{#if notesAreShowing }}
    <p {{action 'notesHide'}}>{{question.notes}}</p>
  {{else}}
    <p {{action 'notesShow'}}>Show additional information</p>
  {{/if}}
</li>
