<li>"{{question.question}}" -{{question.author}}
  {{#if notesAreShowing }}
    <p {{action 'notesHide'}}>{{question.notes}}</p>
  {{else}}
    <p {{action 'notesShow'}}>Show additional information</p>
  {{/if}}
</li>

{{update-question question=question update="update"}}
