<!-- Question display template -->
<!-- Child of index.hbs -->
<!-- Displays question after clicking question link on question-tile.hbs -->
<!-- Has "Add Your Answer" for a new answer form, but does not save properly -->
<!-- SHOULD ALSO DISPLAY LIST OF ANSWERS -->

<h4>"{{model.question}}" -{{model.author}}</h4>

{{update-question question=model update="update"}}

{{question-detail question=model}}

<h3>Answers:</h3>

{{new-answer save="save" question=model}}

<ul>
  {{#each model.answers as |answer|}}
    <!-- <li>{{#link-to 'answer' answer.id}}{{answer.answer}}{{/link-to}}</li> -->
    <li>{{answer.answer}}</li>
  {{/each}}
</ul>
